header {
  width: 100%;
  height: 60px;
  background-color: #fff;
  line-height: 60px;
}
header > .nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-left: 20px;
}
header > .nav > li {
  margin-right: 20px;
}
header > .nav > li > a {
  color: #71777c;
}
header > .nav > li > a:hover {
  color: #007fff;
}
header > .nav > li > .active1 {
  color: #007fff;
}
