.show {
  width: 590px;
  height: 470px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
.show img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.5s;
}
.show .list {
  list-style: none;
  position: absolute;
  display: flex;
  padding: 0;
  margin: 0;
  bottom: 20px;
  z-index: 2;
}
.show .list li {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 5px;
}
.show .list li:last-child {
  margin-right: 0;
}
.show .active {
  opacity: 1;
  z-index: 1;
}
