.btn {
  outline: 0;
  border: 0;
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 12px;
  color: #fff;
  background-color: #00b3d4;
  border-radius: 6px;
  display: block;
}
.btn:active {
  box-shadow: 0px 0px 30px 4px #025361 inset;
}
